.parallax {
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3494E6, #EC6EAD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3494E6, #EC6EAD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1.2em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    /* max-width: 20%; */
    /* border-radius: 1.2rem; */
}

.logo {
    padding: 1.5em;
    width: fit-content;
}

.tilt {
    /* background: none; */
    /* overflow:hidden; */
    /* border-radius: 1.2rem; */
    
}